body{
    margin: 0;
    width: 100%;
}
*{
    font-family: Arial;
}
.navbar{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 18px 32px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border: 2px solid rgba(0, 0, 0, 0.237);
}
.navbar2{
    display: flex;
    gap: 35px;
}
.navbar2 a{
    color: black;
    text-decoration: none;
}

header{
    position: relative;
    margin-top: 20px;
}
img{
    width: 100%;
}
header img{
    height: 700px;
}
header h1{
    position:absolute;
    top: 320px;
    left: 490px;
    font-size: 35px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI',sans-serif;
    letter-spacing: 3px;
}
header span{
    background-color: rgba(32, 31, 31, 0.856);
    padding: 15px;
}
.padding{
    padding-top: 70px;
}
.heading{
    width: 93%;
    margin: 0px auto;
}
h2{
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 25px;
    margin-top: 8px;
}
.container{
    display: flex;
    justify-content: center;
}
.subcont{
    /* border: 2px solid green; */
    width: 22%;
    height: auto;
    margin: 0px 10px;
    margin-top: 20px;
    position: relative;
}
.subcont>h3{
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 10px 14px;
    position: absolute;
    top: 0;
    margin: 0px;
}
.container1{
    width: 93.6%;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.description{
    font-size: 15px;
    line-height: 22px;
    font-family:Verdana;

}
.about h3{
    font-weight: normal;
    font-size: 14px;
    color: rgb(106, 105, 105);
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.brcontact{
    font-size: 15px;
    font-family:Verdana;
    border: none;
    padding: 8px 112px;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(205, 202, 202);
}
.submit-btn{
    width: auto;
    padding: 10px 17px;
    color: white;
    background-color: black;
}
footer{
    background-color: black;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
footer a{
    color: white;
    text-decoration: line-through;
}